@import "tailwindcss";

/* Custom styles untuk aplikasi hipertensi */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-dm-sans), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafb;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Footer */
.footer {
  text-align: center;
  padding: 15px 0;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid #ddd;
}

/* Slider Tingkat Stres (Global) */
.stress-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 50px;
  background: #e5e7eb;
  cursor: pointer;
}

/* Thumb (Bulatan) */
.stress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #0891b2;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover effect */
.stress-slider::-webkit-slider-thumb:hover {
  background-color: #0e7490;
}

.stress-slider::-moz-range-thumb:hover {
  background-color: #0e7490;
}
